<!DOCTYPE html>
<html>
<head>
  <title>Sándwich de Pavo, Tocino y Berros -Que rica vida-</title>
</head>
<body>
  <h1>Sándwich de Pavo, Tocino y Berros</h1>
  <table>
    <thead>
      <tr>
        <td>6'</td>
        <td>20'</td>
        <td>8</td>
        <td>4</td>
      </tr>
    </thead>
    <tbody>
      <th>Tiempo de preparación</th>
      <th>Tiempo total</th>
      <th>Ingredientes</th>
      <th>Porciones</th>
    </tbody>
  </table>
  
  <p>El berro, o watercress en inglés, ha adquirido mucha popularidad últimamente, a pesar de ser una verdura conocida desde el siglo XIII por su pimentado y refrescante sabor, además de por sus buenas propiedades alimenticias.
  </p>
  <p>Se suele usar en ensaladas, pero hoy te comparto una receta sumamente sencilla de un sándwich que es perfecto para una tarde de primavera.</p>
  <h2>Ingredientes</h2>
  <ul>
    <li>8 rebanadas de tocino</li>
    <li>4 rollos de pan Pillsbury™</li>
    <li>1 ramo mediano de berros</li>
    <li>1 cucharadita de vinagre balsámico</li>
    <li>Mostaza Dijon, al gusto</li>
    <li>Mayonesa, al gusto (opcional)</li>
    <li>1 tomate lavado y rebanado</li>
    <li>1 paquete de 8 oz de pavo en rebanadas</li>
  </ul>
  <h2>Instrucciones</h2>
  <ol>
    <li>Precalienta el horno o tostador a 350 ºF.</li>
    <li>Fríe las rebanadas de tocino a tu gusto (en un grill, caserola o, en mi opción favorita, horno microondas). Yo generalmente cubro una bandeja de cristal con servilletas de papel y coloco las rebanadas encima. Luego las cubro con otra servilleta de papel y las pongo en el microondas por unos 3-4 minutos. El tocino sale crujiente y el aceite se absorbe con las servilletas. </li>
    <li>Coloca el pan en el horno.</li>
    <li>Mientras tanto, toma unas 5-6 ramas de berro por sándwich, lávalas y sécalas con una servilleta de papel. Combínalas con el vinagre balsámico y reserva.</li>
    <li>Cuando el pan esté caliente y crujiente, sácalo del horno. Esparce mostaza y mayonesa al gusto en cada tapa. Agrega un par de rebanadas de tomate, pavo, 2 rebanadas de tocino y termina con el berro.</li>
    <li>Acompaña con fruta fresca y un buen vaso de agua o limonada.</li>
  </ol>
  <h2>Tips</h2>
  <ul>
    <li>Puedes usar el tocino de tu gusto, ya sea de puerco o de pavo.</li>
  </ul>


</body>
</html>